@model List<CourseAssignmentsMarking>

<div class="text-center">
    <h1 class="display-4">Assignments</h1>

    @if (@Model.Count() == 0)
    {
        <p>No Courses</p>
    }
    else
    {   
        
        <div class="row">
                @foreach (var courseAssignments in Model)
                {
                    <div class="col-4">
                            <div class="card mb-3">
                            <img src="https://images.pexels.com/photos/6347/coffee-cup-working-happy.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@courseAssignments.CourseName</h5>
                                    <p class="card-text">@courseAssignments.Description</p>
                                    <p class="card-text">Submitted By: @courseAssignments.StudentName</p>
                                    <p class="card-text">Marked By: @courseAssignments.MarkerName</p>
                                </div>
                            </div>
                    </div>
                }
        </div>
    }
</div>
